<div class="form">
    <p class="header">Loot Name<span class="icon icon-help" {{action "helpLootName" target="controller"}}>?</span></p>
    <p>{{view Ember.TextField valueBinding="view.name"}}</p>
    <p class="header">Bank Balance Changed<span class="icon icon-help" {{action "helpBankBalanceChanged" target="controller"}}>?</span></p>
    <p>{{view LazySplit.NumericTextField type="number" valueBinding="view.bankBalanceChanged"}}</p>
    <p class="header">People In Split</p>
    <p>{{view Ember.TextField placeholder="person1, person2, person3, ..." valueBinding="view.peopleInSplit"}}</p>
    <p><button {{action "addLoot" target="view"}}>Add</button></p>
</div>