<div>

    <div class='nav-bar'>
        LazySplit
    </div>

    <div class="container">
      {{outlet merchant}}
      {{outlet loot}}
      {{outlet individual}}
    </div>

</div>
{{outlet loading}}
{{outlet alert}}
